$gold-main: goldenrod;
$gold-light: rgb(234, 190, 33);
$link-color: $gold-light;
$link-hover: $gold-main;
$primary-color: #333;
$white-color: white;
$white-silver: #eee;
$white-grey: #555;
$grey-color: grey;
