$link-color: rgb(234, 190, 33);
$link-hover: goldenrod;
$primary-color: #333;
$white-color: white;
$white-silver: #eee;
$white-grey: #555;
$grey-color: grey;


body {
  font-family: 'Montserrat', 'Arial', 'Sans Serif';
  font-size: 1rem;
  color: $primary-color;
}

p{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a{
  // display: inline-block;
  text-decoration: none;
  color: $link-color;
  transition: all .5s;
  font-weight: 700;
  display: inline-block;
  position: relative;

}

a:hover {
  color: $link-hover;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

h1 {
  font-size: 2.5rem;
  color: $primary-color;
  /* text-transform: uppercase; */
  font-weight: 900;
  margin-top: 1rem;
}

h2 {
  font-size: 2rem;
  color: $link-color;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: $white-color;
  text-transform: uppercase;
  /* margin-left: 1rem;
  margin-right: 1rem;*/
  border-bottom: 1px solid $grey-color;
  padding-bottom: 8px;
}

h4 {
  color: $primary-color;
  font-size: 1.2rem;
  font-weight: 700;
}

h5 {
  color: $primary-color;
  font-size: 1.0rem;
  font-weight: 700;
}

h6, .h6 {
  font-size: 1.1rem;
  font-weight: 700;
}

ul {
  list-style: none;
  color: $white-silver;
}

li {
  color: $primary-color;
}

.skills-panel li {
  color: $white-silver;
}

.default-panel li {
  color: $primary-color;
}

li::before {
  content: "✦";
  margin-left: -28px;
  margin-right: 8px;
  color: $link-color;
}

.skills {
  text-align: center;
  margin-bottom: 2rem;
}

.skills-panel {
  margin-bottom: 3rem;
}

.gold {
  color: $link-color;
}

.space-4 {
  margin-top: 2rem;
}

.space-bottom-8 {
  padding-bottom: 4rem;
}

.small-p {
  font-size: 0.9rem;
  font-style: italic;
  color: $white-color;
  margin: 8px 8px;
  transition: all .5s;
}

.small-p:hover {
  color: #333;
}

.right-p {
  text-align: end;
  margin-bottom: auto;
}

.bottom-p {
  text-align: right;
  font-style: italic;
  font-size: 0.9rem;
}

.row-right-border {
  border-right: 8px solid $primary-color;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.font-primary-color {
  color: #333;
}

.selected-text {
  font-weight: 700;
}

.light-text-ul li {
  color: $white-silver;
}

.p-gradient {
  // background: rgb(194 159 28);
  // background: linear-gradient(90deg, rgb(194 159 28) 0%, rgb(248 202 59) 23%, rgb(255, 255, 255) 100%);
  background: -moz-linear-gradient(90deg, rgb(234, 190, 33) 0%, rgb(248 202 59) 23%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgb(234, 190, 33) 0%, rgb(248 202 59) 23%, rgba(255,255,255,1) 100%);
  background: linear-gradient(90deg, rgb(234, 190, 33) 0%, rgba(248,202,59,1) 45%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffea23",endColorstr="#ffffff",GradientType=1);
  transition: all .5s;
}

// .p-gradient:hover {
//   // background-position: 10px;
// }

.fas .fab {
  color: $link-color;
}


@media only screen and (min-width: 200px) and (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }

  .container-sm {
    padding-left: 8px;
    padding-right: 8px;
  }

  .media-hide {
    display: none;
  }

  .media-text-center {
    text-align: center;
  }

  .flex-right {
    justify-content: flex-start;
  }

  .bottom-p {
    font-size: 0.8rem;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1040px;
  }
}
